<h1>Orders</h1>
<div class="row" *ngIf="orders">
  <div class="col-md-6">
    <table class="table table-stripe">
      <tr>
        <th>Customer</th>
        <th>Order Date</th>
        <th></th>
      </tr>
      <tr *ngFor="let order of orders">
        <td>{{ order.shipping.name }}</td>
        <td>{{ order.datePlaced | date: "mediumDate" }}</td>
        <td>
          <button
            (click)="viewOrderDetail(order)"
            class="btn btn-primary btn-sm"
          >
            View
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"><order-detail [order]="order"></order-detail></div>
</div>
